{
  "presets": [
    "@babel/typescript",
    [
      "@babel/preset-env", {
        "useBuiltIns": "usage",
        "debug": true,
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}