doctype html
html
    head
        title VanillaJS Scaffolding
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
    body
        div#root.container